body { font-family: verdana; }
.flex-container {
    display: flex;
}

section {
    max-width: 1500px;
    margin-inline: auto;
}

.section-par {
    background: #f7f7f8;
}

.section-impar {
    background: #EAF2FD;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    height: 88px;
    max-width: 1500px;
    margin: auto;
}

html {
    background-color: #d6e5e3;
    ;
}

header {
    background: color EAF 2FD;
    ;
}

.menu-link li {
    display: inline;
    color: gray;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 0 15px;

}

.nav-mi-nombre {
    display: inline;
    text-transform: unset;
    color: gray;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 0 15px;

}

.nav-mi-nombre {
    margin: auto;
}

h1 {
    text-align: left;
    text-transform: unset;
    color: gray;
    font-weight: bold;
    font-size: 25px;


}


label {
    color: gray;
    font-weight: bold;
    font-size: 17px;
}



.tarjeta-presentacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    gap: 20px;
}

.tarjeta-contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

}

.tarjeta-imagen {
    width: 60%;
}

.pequena-presentacion {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 61px;
    color: #464646;
}

.pequeña-introduccion {
    width: 751px;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #464646;

}

.seccion-sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 10px;
}

.tarjeta-sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    height: 255px;

}

.titulo-sobre-mi {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;

}

.cuadro-informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 88px;
}

.cuadro-skills {
    width: 82px;
    height: 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #464646;
}

.cuadro-titulo {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.titulo-skills {
    text-align: center;
    color: #464646;

}

.cuadro-iconos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.cuadro-html {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: rgb(208 229 216);
}

.icono-html {
    width: 28px;
    height: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #041c3b;

}

.cuadro-javascript {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: #FFFFFF;
}

.icono-javascript {
    width: 28px;
    height: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #041c3b;

}

.cuadro-php {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: #FFFFFF;
}

.icono-php {
    width: 28px;
    height: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #041c3b;
}

.cuadro-node {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: #FFFFFF;
}

.icono-node {
    width: 28px;
    height: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #041c3b;
}

.cuadro-react {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: #FFFFFF;
}

.icono-react {
    width: 28px;
    height: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #041c3b;
}

.cuadro-css {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: #FFFFFF;
}

.icono-css {
    width: 28px;
    height: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #041c3b;
}


.cuadro-hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 1136px;
    height: 244px;


}


.titulo-hobbies {
    text-align: center;
    color: #464646;

}

.cuadro-iconos-hobbies {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 16px;
    width: 1136px;
    height: 174px;

}

.cuadro-patinaje {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: #FFFFFF;
}

.icono-patinaje {
    width: 28px;
    height: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #041c3b;

}

.cuadro-guitarra {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: #FFFFFF;
}

.icono-guitarra {
    width: 28px;
    height: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #041c3b;

}

.cuadro-headphones {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: #FFFFFF;
}

.icono-headphones {
    width: 28px;
    height: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #041c3b;
}

.cuadro-tele {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: #FFFFFF;
}

.icono-tele {
    width: 28px;
    height: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #041c3b;

}

.cuadro-formacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 8px;
    height: 347px;

}

.cuadro-iconos-formacion {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 16px;

}

.logo-formacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 368px;
    height: 368px;
    background: #FFFFFF;
}

.logo-universidad {
    width: 192px;
    height: 130px;
    object-fit: contain;

}

.imagen-logo-formacion {
    width: 30%;

}
.imagen-logo-formacion-ing {
    width: 60%;

}
.formacion-titulo {
    height: 26px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
}

.formacion-institucion {
    width: 92px;
    height: 19px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.experiencias-secciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 64px;
}

.experiencia-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.experiencia {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.experiencia-imagen {
    display: flex;
    flex-direction: column;
    border-color: #041c3b;
    border-style: solid;
    border-radius: 2%;
    
}

.experiencia-imagen-img {
    width: 100%;
}

.link-experiancia-contenedor {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.links-experiencias-boton {
    
    border-radius: 12px;
    min-height: 70px;
    min-width: 160px;
    background-color: #04AA6D;
    border: 4px;
    color: white;
    font-size: 18px;
    font-weight: 300;
    border-width: 4px;
    border: solid;

    /*box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.904);*/
}

.experiencia-proyecto {
    font-size: 14px;
}

.experiencia-titulo {
    font-size: larger;
    font-weight: bold;
}

.iframe-experiencia {
    min-width: 600px;
    min-height: 400px;
}


.iframe-experiencia2 {
    min-width: 600px;
    min-height: 700px;
}

.cuadro-contacto {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.div-contacto {
    display: flex;
    width: 50%;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.div-contacto-centro {
    align-items: center;
}

.div-contacto > label {
    margin-bottom: -10px;
}

.desarrollo-sobre-mi{
    text-align: justify;
}